<h1>Edit Photo 12</h1>

<form action="/update_photo/<%= @the_photo_to_be_edited">
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input id="source_input" type="text" name="the_source" value="<%= @photo.source%>">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="<%= @photo.caption%>">
  </div>

  <button>
    Update Photo
  </button>
</form>
